@if (!!group) {
  <!-- Group -->
  <button #groupBtn mat-button class="mb-2 !rounded-lg" (click)="expandGroup(groupBtn)">
    <ng-container matButtonIcon [ngTemplateOutlet]="icon"></ng-container>
    <span class="text-nowrap text-xl text-mat-cream sm:text-lg">
      {{ group.label }}
    </span>
    <mat-icon [ngClass]="[active ? 'text-mat-yellow' : 'text-mat-cream', iconClasses]" iconPositionEnd>
      {{ group.expanded ? 'keyboard_arrow_down' : 'chevron_right' }}
    </mat-icon>
  </button>
} @else if (!!link) {
  <!-- Link -->
  <button mat-button class="mb-2 !rounded-lg !px-4">
    <ng-container matButtonIcon [ngTemplateOutlet]="icon"></ng-container>
    <span [ngClass]="[active ? 'text-mat-yellow' : 'text-mat-cream', 'text-nowrap text-xl sm:text-lg']">
      {{ link.label }}
    </span>
  </button>
}

<!-- Icon -->
<ng-template #icon>
  @if (matIcon) {
    <mat-icon [ngClass]="[iconClasses, 'text-mat-cream']">{{ matIcon }}</mat-icon>
  } @else if (svgIcon) {
    <mat-icon [ngClass]="[iconClasses, 'scale-125 text-mat-cream']" [svgIcon]="svgIcon"></mat-icon>
  }
</ng-template>
