@if (!!group) {
  <!-- Group -->
  <button #groupBtn mat-button class="mb-2 !rounded-lg" (click)="expandGroup(groupBtn)">
    <mat-icon [ngClass]="[iconClasses, 'text-mat-cream']">
      {{ icon }}
    </mat-icon>
    <span class="text-nowrap text-xl text-mat-cream sm:text-lg">
      {{ group.label }}
    </span>
    <mat-icon [ngClass]="[active ? 'text-mat-yellow' : 'text-mat-cream', iconClasses]" iconPositionEnd>
      {{ group.expanded ? 'keyboard_arrow_down' : 'chevron_right' }}
    </mat-icon>
  </button>
} @else if (!!link) {
  <!-- Link -->
  <button mat-button class="mb-2 !rounded-lg !px-4">
    @if (icon) {
      <mat-icon [ngClass]="[iconClasses, 'text-mat-cream']">
        {{ icon }}
      </mat-icon>
    }
    <span [ngClass]="[active ? 'text-mat-yellow' : 'text-mat-cream', 'text-nowrap text-xl sm:text-lg']">
      {{ link.label }}
    </span>
  </button>
}
