<div class="flex flex-1 flex-col items-center justify-center font-inter text-game-cream">
  <!-- Audio -->
  <div class="mb-4 flex flex-col items-center">
    <mat-slide-toggle class="yellow-slide-toggle" [formControl]="audioService.audioEnabled"></mat-slide-toggle>
    <span class="mt-2 text-sm">Audio</span>
  </div>

  <!-- Particles -->
  <div class="mb-8 flex flex-col items-center">
    <mat-slider class="yellow-slider !w-4/5" min="0" max="3000" step="100">
      <input matSliderThumb [formControl]="particleService.max" />
    </mat-slider>
    <span class="text-sm">Particles ({{ particleService.max.value }})</span>
  </div>

  <!-- Reset -->
  <button mat-stroked-button class="!border-game-yellow" (click)="reset()">
    <span class="text-game-cream">Reset All Data</span>
  </button>
</div>

<!-- Back -->
<div class="flex items-end justify-end">
  <app-game-button (click)="gameSettingsService.hide()" [text]="'BACK'"></app-game-button>
</div>
