@if (svgIcon) {
  <button
    mat-icon-button
    class="origin-center scale-125 transition-transform duration-200"
    [ngClass]="{ 'hover:!scale-150': hover }"
    [disabled]="disabled"
    [matTooltip]="tooltip">
    <mat-icon [svgIcon]="svgIcon" [ngClass]="[color, '!flex !size-auto']"></mat-icon>
  </button>
} @else {
  <button
    mat-icon-button
    class="origin-center scale-125 transition-transform duration-200"
    [ngClass]="{ 'hover:!scale-150': hover }"
    [disabled]="disabled"
    [matTooltip]="tooltip">
    <mat-icon [ngClass]="[color, '!flex !size-auto']">
      {{ matIcon }}
    </mat-icon>
  </button>
}
