<!-- Canvas -->
<canvas #canvas class="flex size-full transition-all duration-500 ease-in-out"></canvas>

<!-- Lives -->
<div *ngIf="gameService.lives > 0" class="pointer-events-none absolute bottom-0 left-0 mb-4 ml-4 transform">
  <div class="flex items-center" [ngStyle]="{ color: white }">
    <span class="mr-1 text-3xl md:text-5xl">{{ gameService.lives }}</span>
    <mat-icon class="!size-full text-3xl text-[#BA1A1A] md:text-5xl">favorite</mat-icon>
  </div>
</div>

<!-- Text -->
<div
  class="text pointer-events-none absolute flex flex-col items-center justify-center opacity-0 transition-opacity duration-1000 ease-in-out"
  [ngStyle]="{ color: white }">
  <strong class="mb-4 text-5xl md:text-9xl">{{ textService.text }}</strong>
  <div class="flex items-center justify-center">
    <span class="mr-1 text-3xl md:text-5xl">{{ textService.subText }}</span>
    <mat-icon class="!size-full text-3xl text-[#BA1A1A] md:text-5xl" *ngIf="textService.subText === '+ 1'">
      favorite
    </mat-icon>
  </div>
</div>

<!-- Menu -->
<div
  class="menu absolute flex size-full flex-col items-center justify-center transition-all duration-500 ease-in-out"
  [ngStyle]="{ color: yellow }">
  <div class="flex flex-1">
    <img src="corn.svg" class="hover:animate-jiggle1 m-auto max-h-[75vh]" />
  </div>

  <div class="mb-20 flex items-center justify-end">
    <button (click)="gameService.newGame()" [class]="'font-ink mr-20 text-5xl hover:text-[#F5F5F5]'">
      <span>Play</span>
    </button>

    <button class="font-ink text-5xl hover:text-[#F5F5F5]">
      <span routerLink="" [state]="{ reload: true }">Exit</span>
    </button>
  </div>
</div>

<!-- Background Mask -->
<div class="custom-background absolute -z-10 size-full" [ngStyle]="{ 'background-color': black }"></div>
