<!-- Canvas -->
<canvas #canvas class="flex size-full bg-black transition-all duration-300 ease-in-out"></canvas>

<!-- Lives -->
<div *ngIf="!settings.paused" class="absolute bottom-0 right-0 mr-4 mb-2 transform pointer-events-none">
  <div class="flex items-center text-white">
    <span class="mr-1 text-5xl">{{ 'x' + settings.lives }}</span>
    <mat-icon class="!size-full text-5xl" color="warn">favorite</mat-icon>
  </div>
</div>

<!-- Message -->
<div
  class="message opacity-0 flex flex-col absolute justify-center items-center text-white pointer-events-none transition-opacity duration-1000 ease-in-out"
>
  <strong class="text-5xl md:text-9xl">{{ messageService.text }}</strong>
  <div class="flex justify-center items-center">
    <span class="mr-1 text-2xl md:text-5xl">{{ messageService.subText }}</span>
    <mat-icon class="!size-full text-2xl md:text-5xl" *ngIf="messageService.subText === '+ 1'" color="warn"
      >favorite</mat-icon
    >
  </div>
</div>

<!-- Menu -->
<div
  class="menu flex absolute size-full justify-center items-center text-white transition-all duration-1000 ease-in-out"
>
  <div class="flex flex-col items-center">
    <mat-icon class="!size-64 motion-safe:animate-bounce" svgIcon="corn"></mat-icon>

    <button (click)="play(true)" class="text-4xl hover:text-[#ffc107] mb-4">
      <span>Play</span>
    </button>

    <button class="text-4xl hover:text-[#ffc107] mb-4">
      <span>Settings</span>
    </button>

    <button class="text-4xl hover:text-[#ffc107] mb-4">
      <span>Back</span>
    </button>
  </div>
</div>
