<!-- Background -->
<div class="absolute top-0">
  <!-- Hero -->
  <div class="h-[100vh] w-screen overflow-hidden">
    <img class="size-full animate-zoom object-cover blur-sm" src="hero-home.jpg" />
  </div>

  <!-- Yellow Background -->
  <div class="h-[200vh] border-t-2 border-mat-white bg-mat-yellow"></div>
</div>

<!-- Avatar -->
<div class="z-10 flex h-[75vh] w-screen items-center justify-center">
  <img src="avatar.svg" />
</div>

<!-- Text -->
<div class="z-10 flex h-[50vh] min-h-fit w-[90vw] items-center justify-center sm:w-[60vw]">
  <div
    class="flex h-fit w-full flex-col items-center justify-center rounded-3xl bg-mat-white p-6 text-center shadow-md sm:p-10 lg:p-20">
    <span class="mb-4 text-4xl font-bold md:text-3xl">Hey, I'm Chris.</span>
    <span class="text-base font-semibold md:text-lg">
      A front-end developer with a passion for crafting intuitive and engaging single-page applications. This site
      features my photography portfolio and highlights my design and development skills. Check out the game I'm building
      and try to post a high score! I'm always open to new connections and work opportunities, so feel free to reach out
      on LinkedIn!
    </span>
  </div>
</div>

<!-- Technology -->
<div class="z-10 my-20 w-screen">
  <div class="flex size-full flex-col items-center">
    <div class="mb-4 flex sm:mb-10">
      <ng-container
        *ngTemplateOutlet="techCard; context: { icon: 'angular', label: 'Angular', delay: 200 }"></ng-container>
      <ng-container
        *ngTemplateOutlet="techCard; context: { icon: 'typescript', label: 'Typescript', delay: 300 }"></ng-container>
      <ng-container *ngTemplateOutlet="techCard; context: { icon: 'html', label: 'HTML', delay: 400 }"></ng-container>
    </div>

    <div class="mb-4 flex justify-center sm:mb-10">
      <ng-container *ngTemplateOutlet="techCard; context: { icon: 'sass', label: 'SCSS', delay: 500 }"></ng-container>
      <ng-container
        *ngTemplateOutlet="techCard; context: { icon: 'javascript', label: 'Javascript', delay: 450 }"></ng-container>
      <ng-container
        *ngTemplateOutlet="techCard; context: { icon: 'tailwind', label: 'Tailwind', delay: 500 }"></ng-container>
    </div>

    <div class="flex justify-center">
      <ng-container
        *ngTemplateOutlet="techCard; context: { icon: 'material', label: 'Material', delay: 400 }"></ng-container>
      <ng-container *ngTemplateOutlet="techCard; context: { icon: 'git', label: 'Git', delay: 300 }"></ng-container>
      <ng-container *ngTemplateOutlet="techCard; context: { icon: 'rxjs', label: 'RXJS', delay: 200 }"></ng-container>
    </div>
  </div>
</div>

<!-- Tech Card-->
<ng-template #techCard let-icon="icon" let-label="label" let-delay="delay">
  <div
    [@opacityAnimation]="{ value: '', params: { delay: delay } }"
    class="mx-2 flex min-h-24 min-w-24 flex-col items-center justify-center rounded-3xl bg-mat-white shadow-md sm:mx-4 sm:min-h-40 sm:min-w-40">
    <mat-icon class="my-2 scale-150 sm:my-8 sm:scale-300" [svgIcon]="icon"></mat-icon>
    <span class="text-base font-semibold">{{ label }}</span>
  </div>
</ng-template>
