<div class="mt-20 flex w-60 flex-1 flex-col items-center justify-center text-center text-game-white">
  <app-game-button class="!mb-4" (click)="selectMode(true)" [text]="'CLASSIC'"></app-game-button>
  <span class="mb-10">The classic experience. Avoid the cob until the time runs out.</span>

  <app-game-button class="!mb-4" (click)="selectMode(false)" [text]="'STANDARD'"></app-game-button>
  <span>Enhanced game mode with power-ups, peas, and extra lives.</span>
</div>

<!-- Back -->
<div class="flex items-end">
  <app-game-button (click)="back()" [text]="'BACK'"></app-game-button>
</div>
