<div
  class="mt-20 flex flex-1 flex-col items-center justify-center space-y-10 text-center text-mat-cream sm:w-full sm:flex-row sm:space-x-20 sm:space-y-0">
  <div class="flex w-40 flex-col items-center justify-center">
    <app-game-button class="mb-4" (click)="selectMode(false)" [text]="'STANDARD'" [small]="true"></app-game-button>
    <span>An enhanced game mode with peas, powerups and highscores enabled.</span>
  </div>

  <div class="flex w-40 flex-col items-center justify-center">
    <app-game-button class="mb-4" (click)="selectMode(true)" [text]="'MOB MODE'" [small]="true"></app-game-button>
    <span>The classic 'avoid the mob' experience. Dodge the corn until the time expires.</span>
  </div>
</div>

<!-- Back -->
<app-game-button class="my-12" (click)="back()" [text]="'Back'"></app-game-button>
