<!-- Close Button -->
<div class="mt-4 flex w-full items-center justify-between">
  <app-icon-button (click)="navigate('/home')" [svgIcon]="'chan'"></app-icon-button>
  <app-icon-button (click)="close.emit()" [matIcon]="'close'" [tooltip]="'Close'"></app-icon-button>
</div>

<mat-divider class="!m-4"></mat-divider>

<!-- Links -->
<div class="flex size-full flex-1 flex-col items-start overflow-y-auto overflow-x-hidden p-4">
  @for (item of links; track item) {
    @if (!item.sublinks) {
      <!-- Link -->
      <app-side-nav-button
        (click)="navigate(item.url)"
        [active]="currentRoute === item.url"
        [label]="item.label"></app-side-nav-button>
    } @else {
      <!-- Link Group -->
      <app-side-nav-button [group]="item" [active]="hasActiveSublink(item.sublinks)"></app-side-nav-button>
      @if (item.expanded) {
        @for (subLink of item.sublinks; track subLink) {
          <!-- SubLink -->
          <app-side-nav-button
            class="ml-5"
            (click)="navigate(subLink.url)"
            [active]="currentRoute === subLink.url"
            [label]="subLink.label"></app-side-nav-button>
        }
      }
    }
  }
</div>

<mat-divider class="!m-4"></mat-divider>

<div class="mb-4 flex w-full items-center justify-evenly">
  <app-icon-button (click)="linkedIn()" [svgIcon]="'linkedin'" [tooltip]="'LinkedIn'"></app-icon-button>
  <app-icon-button (click)="github()" [svgIcon]="'github'" [tooltip]="'Github'"></app-icon-button>
  <app-icon-button (click)="youtube()" [svgIcon]="'youtube'" [tooltip]="'Youtube'"></app-icon-button>
  <app-icon-button (click)="instagram()" [svgIcon]="'instagram'" [tooltip]="'Instagram'"></app-icon-button>
</div>
