<!-- Close Button -->
<app-icon-button class="flex self-end" [icon]="'close'" (click)="close.emit()"></app-icon-button>

<!-- Links -->
<div class="flex size-full flex-1 flex-col items-start overflow-y-auto overflow-x-hidden pl-[20%]">
  @for (item of links; track item) {
    @if (!item.sublinks) {
      <!-- Link -->
      <button mat-button class="mb-2" (click)="navigate(item.url)" [disabled]="currentRoute === item.url">
        <span class="mx-1 text-xl">{{ item.label }}</span>
      </button>
    } @else {
      <!-- Link Group -->
      <button #groupButton mat-button class="mb-2" (click)="expandGroup(item, groupButton)">
        <span class="text-xl">{{ item.label }}</span>
        <mat-icon iconPositionEnd>{{ item.expanded ? 'keyboard_arrow_down' : 'chevron_right' }}</mat-icon>
      </button>
      @if (item.expanded) {
        @for (subLink of item.sublinks; track subLink) {
          <!-- SubLink -->
          <button
            mat-button
            class="mb-2 ml-6"
            (click)="navigate(subLink.url)"
            [disabled]="currentRoute === subLink.url">
            <span class="mx-1 text-xl">
              {{ subLink.label }}
            </span>
          </button>
        }
      }
    }
  }
</div>

<!-- Theme Selector -->
<app-theme-selector class="flex justify-end self-end"></app-theme-selector>
