<div class="flex w-full justify-between">
  <!-- Theme Selector -->
  <app-theme-selector></app-theme-selector>
  <!-- Close Button -->
  <app-icon-button [icon]="'close'" (click)="close.emit()"></app-icon-button>
</div>

<!-- Links -->
<div class="flex size-full flex-1 flex-col items-start overflow-y-auto overflow-x-hidden pl-10">
  @for (item of links; track item) {
    @if (!item.sublinks) {
      <!-- Link -->
      <app-side-nav-button
        (click)="navigate(item.url)"
        [active]="currentRoute === item.url"
        [label]="item.label"></app-side-nav-button>
    } @else {
      <!-- Link Group -->
      <app-side-nav-button [group]="item" [active]="hasActiveSublink(item.sublinks)"></app-side-nav-button>
      @if (item.expanded) {
        @for (subLink of item.sublinks; track subLink) {
          <!-- SubLink -->
          <app-side-nav-button
            class="ml-5"
            (click)="navigate(subLink.url)"
            [active]="currentRoute === subLink.url"
            [label]="subLink.label"></app-side-nav-button>
        }
      }
    }
  }
</div>
