<div class="my-40 flex flex-col items-center lg:mb-20">
  <!-- Socials -->
  <div class="mb-10 flex items-center justify-center">
    @for (link of links; track $index) {
      <app-icon-button class="mx-6 scale-175" (click)="open(link.url)" [icon]="link.icon"></app-icon-button>
    }
  </div>

  <!-- Copyright -->
  <div class="flex flex-col items-center justify-center text-mat-cream">
    <span>Copyright © 2024 Christopher Chan.</span>
    <span class="text-xs">Powered by Ramen Noodles.</span>
  </div>
</div>

<!-- Panda -->
<div
  class="mt-20 hidden h-10 w-full cursor-pointer border-t-2 border-mat-white bg-mat-yellow lg:flex"
  (click)="showPanda = !showPanda">
  @if (showPanda) {
    <app-red-panda class="-mt-5"></app-red-panda>
  }
</div>
