@if (photos) {
  <mat-tab-group
    mat-stretch-tabs="true"
    animationDuration="0"
    disablePagination="true"
    (selectedTabChange)="scrollToTop()">
    <mat-tab>
      <!-- Hero -->
      <ng-container [ngTemplateOutlet]="heroTemplate"></ng-container>
    </mat-tab>
    @for (group of photos; track $index) {
      <mat-tab>
        <!-- Tab Label -->
        <ng-template matTabLabel>
          <div class="flex flex-col items-center">
            <div class="mb-4 flex">
              <mat-icon [svgIcon]="group.icons[0]"></mat-icon>
              @if (group.icons[1]) {
                <mat-icon class="ml-4" [svgIcon]="group.icons[1]"></mat-icon>
              }
            </div>
            <span class="text-mat-cream">{{ group.header }}</span>
          </div>
        </ng-template>
        <!-- Country -->
        <div
          class="mx-auto min-h-screen columns-1 gap-16 !overflow-hidden px-4 pb-10 pt-20 sm:px-20 lg:columns-3 lg:pb-16">
          @for (url of group.urls; track $index; let index = $index) {
            <!-- Photo -->
            <img
              class="mat-elevation-z2 mb-16 rounded-lg bg-white p-4"
              data-src="{{ url }}"
              data-aos="fade-up"
              [loading]="index < 3 ? 'eager' : 'lazy'"
              (load)="animate()" />
          }
        </div>
      </mat-tab>
    }
  </mat-tab-group>
} @else {
  <!-- Hero -->
  <ng-container [ngTemplateOutlet]="heroTemplate"></ng-container>
}

<!-- Hero Template -->
<ng-template #heroTemplate>
  <img class="h-screen w-screen object-cover" [src]="hero" />
</ng-template>
