<mat-sidenav-container>
  <!-- Country Side Nav -->
  <mat-sidenav
    #drawer
    mode="over"
    position="end"
    class="mt-16 !w-40 !rounded-none bg-transparent backdrop-blur"
    [autoFocus]="false"
    [fixedInViewport]="true">
    <app-countries [photos]="photos" (selected)="drawer.close()"></app-countries>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Photo Grid -->
    @if (photos && countriesService.isSelected) {
      <div
        class="mx-auto min-h-screen columns-1 gap-16 overflow-hidden bg-neutral-white px-4 pt-28 sm:px-20 lg:columns-3">
        @for (url of photos[countriesService.index].urls; track $index) {
          <div class="mat-elevation-z5 mb-16 overflow-hidden rounded-lg">
            <img
              class="!scale-110 !duration-1000 hover:!scale-100"
              data-src="{{ url }}"
              data-aos="fade-up"
              data-aos-once="true"
              loading="lazy"
              (load)="animate()" />
          </div>
        }
      </div>
    } @else {
      <!-- Hero -->
      <div class="h-screen w-screen cursor-pointer overflow-hidden" (click)="countriesService.toggle()">
        <img
          class="size-full animate-zoom object-cover"
          data-src="{{ hero }}"
          data-aos="fade-in"
          data-aos-duration="2000" />
        <div class="absolute top-0 flex size-full items-center justify-center">
          <span
            data-aos="zoom-out"
            data-aos-duration="2000"
            class="mb-20 select-none font-ink text-7xl text-mat-yellow drop-shadow-sm sm:text-9xl">
            {{ name }}
          </span>
        </div>
      </div>
    }

    <!-- Footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
