<div class="my-14 overflow-y-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-mat-yellow">
  @for (group of photos; track $index; let index = $index) {
    <button mat-button class="!h-32 !w-full !rounded-none" (click)="select(index)">
      <div class="mb-2">
        <mat-icon [svgIcon]="group.icons[0]"></mat-icon>
        @if (group.icons[1]) {
          <mat-icon class="ml-4" [svgIcon]="group.icons[1]"></mat-icon>
        }
      </div>

      <span [ngClass]="isCountryActive(index) ? 'text-mat-yellow' : 'text-mat-cream'">
        {{ group.header }}
      </span>
    </button>
  }
</div>
