@if (!!group) {
  <!-- Group -->
  <button #groupBtn mat-button class="mb-4 !rounded-lg" (click)="expandGroup(groupBtn)">
    @if (icon) {
      <app-icon matButtonIcon [icon]="icon" [classes]="['text-mat-cream', iconClasses]"></app-icon>
    }
    <span class="text-nowrap text-xl text-mat-cream sm:text-lg">
      {{ group.label }}
    </span>
    <mat-icon [ngClass]="[active ? 'text-mat-yellow' : 'text-mat-cream', iconClasses]" iconPositionEnd>
      {{ group.expanded ? 'keyboard_arrow_down' : 'chevron_right' }}
    </mat-icon>
  </button>
} @else if (!!link) {
  <!-- Link -->
  <button mat-button class="mb-4 !rounded-lg !px-4">
    @if (icon) {
      <app-icon matButtonIcon [icon]="icon" [classes]="['text-mat-cream', iconClasses]"></app-icon>
    }
    <span [ngClass]="[active ? 'text-mat-yellow' : 'text-mat-cream', 'text-nowrap text-xl sm:text-lg']">
      {{ link.label }}
    </span>
  </button>
}
