:host {
  // Play Button
  .play-button {
    transition: width 1s ease-in-out;

    &.shrink {
      button {
        transform: scale(0);
      }
    }

    button {
      width: 20vw;
      height: 20vw;
      transition: transform 0.1s linear;
      transform-origin: inherit;
      transform: scale(1);

      mat-icon {
        width: 60% !important;
        height: 60% !important;
        line-height: 60% !important;
      }
    }

    span {
      z-index: 2;
      color: whitesmoke;
      margin-top: 5 * 2;
      margin-bottom: 5 * 2;
      font-size: 3vh;
      cursor: pointer;
    }
  }

  // Hide
  .hide {
    pointer-events: none !important;
    cursor: none !important;
    opacity: 0 !important;
  }
}
