@use '@angular/material' as mat;
@use '../../m3-theme.scss' as m3-theme;

@include mat.core();

$light-theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;
$black: mat.get-theme-color($light-theme, neutral, 10) !important;
$white: mat.get-theme-color($light-theme, neutral, 99) !important;
$yellow: mat.get-theme-color($dark-theme, tertiary, 80) !important;

@mixin mat-divider() {
  mat-divider {
    width: 100%;
    height: 1px;
    &[vertical] {
      width: 1px;
      height: 100%;
    }
  }
}

@mixin mat-slide-toggle() {
  .yellow-slide-toggle {
    --mdc-switch-selected-focus-state-layer-color: #{$yellow};
    --mdc-switch-selected-hover-state-layer-color: #{$yellow};
    --mdc-switch-selected-pressed-state-layer-color: #{$yellow};
    --mdc-switch-selected-focus-track-color: #{$yellow};
    --mdc-switch-selected-hover-track-color: #{$yellow};
    --mdc-switch-selected-pressed-track-color: #{$yellow};
    --mdc-switch-selected-track-color: #{$yellow};
  }
}

@mixin mat-slider() {
  .yellow-slider {
    --mdc-slider-handle-color: #{$yellow};
    --mdc-slider-focus-handle-color: #{$yellow};
    --mdc-slider-hover-handle-color: #{$yellow};
    --mdc-slider-active-track-color: #{$yellow};
    --mdc-slider-label-container-color: #{$yellow};
  }
}

@mixin mat-tab() {
  --mdc-tab-indicator-active-indicator-color: #{$yellow};
  --mat-tab-header-active-focus-indicator-color: #{$yellow};
  --mat-tab-header-active-hover-indicator-color: #{$yellow};
  --mat-tab-header-active-label-text-color: #{$yellow};
  --mat-tab-header-active-focus-label-text-color: #{$yellow};
  --mat-tab-header-active-hover-label-text-color: #{$yellow};

  mat-tab-header {
    @apply bg-gradient-to-tr from-mat-black/95 to-neutral-black/95;
    position: fixed !important;
    width: 100%;
    bottom: 0;
    z-index: 99;
  }
  .mat-mdc-tab-labels > div:first-child {
    display: none !important;
  }
  .mat-mdc-tab-list {
    overflow-x: auto !important;
  }
}

html {
  @include mat.core-color($light-theme);
  @include mat.core-color($dark-theme);
  @include mat.all-component-colors($dark-theme);
  @include mat.all-component-typographies($dark-theme);
  @include mat.icon-color($dark-theme, $color-variant: tertiary);

  @include mat-divider();
  @include mat-slide-toggle();
  @include mat-slider();
  @include mat-tab();
}
