@if (group(); as g) {
  <!-- Group -->
  <button matButton #groupBtn class="!rounded-lg" (click)="expandGroup(groupBtn)">
    <div class="flex items-center justify-center">
      <!-- Icon -->
      @if (icon(); as i) {
        <app-icon [icon]="i" [classes]="iconClasses()"></app-icon>
      }
      <!-- Label -->
      <span [ngClass]="labelClasses()">{{ g.label }}</span>
      <!-- Chevron -->
      <mat-icon [ngClass]="[textColor(), 'ml-1']">
        {{ g.expanded ? 'keyboard_arrow_down' : 'chevron_right' }}
      </mat-icon>
    </div>
  </button>
} @else if (!!link()) {
  <!-- Link -->
  <button matButton class="!rounded-lg !px-4">
    <div class="flex items-center justify-center">
      <!-- Icon -->
      @if (icon(); as i) {
        <app-icon [icon]="i" [classes]="iconClasses()"></app-icon>
      }
      <!-- Label -->
      <span [ngClass]="labelClasses()">{{ link()?.label }}</span>
    </div>
  </button>
}
