@if (group(); as group) {
  <!-- Group -->
  <button #groupBtn class="flex h-10 items-center justify-center" (click)="expandGroup(groupBtn)">
    <!-- Icon -->
    @if (icon(); as icon) {
      <span [icon]="icon" [class]="iconClasses()"></span>
    }
    <!-- Label -->
    <span [ngClass]="labelClasses()">{{ group.label }}</span>
    <!-- Chevron -->
    <span
      [ngClass]="[textColor(), 'ml-1', 'mr-2']"
      [icon]="group.expanded ? 'keyboard-arrow-down' : 'chevron-right'"></span>
  </button>
} @else if (!!link()) {
  <!-- Link -->
  <button class="flex h-10 items-center justify-center" [ngClass]="icon() ? 'pr-3' : 'px-3'">
    <!-- Icon -->
    @if (icon(); as icon) {
      <span [icon]="icon" [class]="iconClasses()"></span>
    }
    <!-- Label -->
    <span [ngClass]="labelClasses()">{{ link()?.label }}</span>
  </button>
}
