<div class="m-auto flex w-full flex-1 flex-col items-center justify-center">
  <!-- Pea SVG -->
  <img id="peaSvg" src="pea.svg" class="max-h-[40dvh] animate-float" />

  <!-- Name -->
  <div class="flex w-4/5 flex-col items-center sm:w-1/2 md:w-3/5 lg:w-1/2 xl:w-2/5 2xl:w-4/12">
    <input
      #input
      contenteditable
      autofocus="true"
      class="flex w-full rounded-xl bg-[rgba(255,255,255,0.05)] p-2 text-center font-ink text-2xl uppercase text-game-cream outline-none md:text-3xl lg:text-4xl"
      [formControl]="newPlayerService.name"
      (keypress)="keyPressed($event)" />

    <!-- Validation -->
    <div class="mt-4 text-center font-inter text-sm">
      @if (newPlayerService.name.valid) {
        <span class="text-game-yellow">Press enter to continue</span>
      } @else {
        <span class="text-game-cream">
          @if (newPlayerService.name.hasError('required')) {
            What's your name ?
          } @else if (newPlayerService.name.hasError('minlength')) {
            You need at least {{ 5 - newPlayerService.name.value!.length }} more character{{
              newPlayerService.name.value!.length < 4 ? 's' : ''
            }}
          } @else if (newPlayerService.name.hasError('maxlength')) {
            Thats {{ newPlayerService.name.value!.length - 20 }} character{{
              newPlayerService.name.value!.length > 21 ? 's' : ''
            }}
            too many!
          } @else if (newPlayerService.name.hasError('letters')) {
            Sorry, letters and hyphens only
          } @else if (newPlayerService.name.hasError('consecutive')) {
            Sorry, no consecutive spaces or hyphens
          } @else if (newPlayerService.name.hasError('edge')) {
            Sorry, no leading or trailing spaces
          } @else if (newPlayerService.name.hasError('profanity')) {
            Ummm.. Seriously?
          }
        </span>
      }
    </div>
  </div>
</div>

<div class="flex items-end justify-end">
  @if (newPlayerService.name.valid) {
    <!-- Enter Button -->
    <app-game-button (click)="enterName()" [text]="'ENTER'"></app-game-button>
  } @else {
    <!-- Back Button -->
    <app-game-button (click)="back()" [text]="'BACK'"></app-game-button>
  }
</div>
