<app-icon-button
  class="!fixed left-0 top-0 !z-20"
  [ngClass]="{ '[&>button>mat-icon]:!text-game-yellow': router.url === '/game' }"
  *ngIf="!drawer.opened"
  (click)="drawer.open()"
  [icon]="'menu'"></app-icon-button>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="over" class="neutral-opacity-90" [autoFocus]="false" [fixedInViewport]="true">
    <app-side-nav (close)="drawer.close()"></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
