<!-- Scores -->
<div
  class="mt-24 flex w-full flex-1 flex-col overflow-y-scroll text-pretty font-ink scrollbar-thin scrollbar-track-transparent scrollbar-thumb-mat-yellow">
  @for (score of leaderboardService.scores; track $index) {
    <div class="mb-4 flex justify-center font-bold tracking-widest">
      <span class="mr-4 font-inter text-lg text-mat-yellow sm:text-xl">
        {{ score.score ? score.score.toLocaleString('en-GB') : '' }}
      </span>
      <span class="text-xl text-mat-cream sm:text-2xl">{{ score.name }}</span>
    </div>
  }
</div>

<!-- Back -->
<app-game-button class="my-12" (click)="leaderboardService.hide()" [text]="'Back'"></app-game-button>
