<input
  #input
  class="flex w-full rounded-lg border-2 bg-game-black bg-opacity-75 p-1 text-center font-ink text-2xl uppercase text-primary outline-none md:text-3xl lg:text-4xl"
  [ngClass]="{
    'border-game-yellow': control.valid,
    'border-primary': control.invalid,
  }"
  [formControl]="control"
  [placeholder]="placeholder"
  (keypress)="keyPressed.emit($event)" />

<div class="mt-4 text-xs text-primary md:text-sm">
  @if (!control.value?.length) {
    Your name will be used to record your highscores.
  } @else if (control.hasError('minlength')) {
    Name must be at least 6 characters.
  } @else if (control.hasError('maxlength')) {
    Name must be no longer than 20 characters.
  } @else if (control.hasError('profanity')) {
    Ummm.. Seriously?
  } @else {
    Looking good! Press PLAY to begin.
  }
</div>
