<input
  #input
  class="flex w-full rounded-lg border-2 bg-game-black bg-opacity-75 p-1 text-center font-ink text-2xl uppercase text-game-cream outline-none md:text-3xl lg:text-4xl"
  [ngClass]="{
    'border-game-green': control.valid,
    'border-game-cream': control.invalid,
  }"
  [formControl]="control"
  [placeholder]="placeholder"
  (keypress)="keyPressed.emit($event)" />

<div class="mt-4 text-xs md:text-sm">
  @if (control.valid) {
    <span class="text-game-green">Looks good. Press PLAY to continue.</span>
  } @else if (!control.value?.length) {
    <span class="text-game-yellow">Hey! What's your name?</span>
  } @else {
    <span class="text-game-cream">
      @if (control.hasError('minlength')) {
        You need at least {{ 6 - control.value.length }} more character{{ control.value.length < 5 ? 's' : '' }}.
      } @else if (control.hasError('maxlength')) {
        Woah! Stop. Thats {{ control.value.length - 20 }} character{{ control.value.length > 21 ? 's' : '' }} too many!
      } @else if (control.hasError('letters')) {
        Sorry, letters and hyphens only.
      } @else if (control.hasError('consecutive')) {
        Sorry, no consecutive spaces or hyphens.
      } @else if (control.hasError('edge')) {
        Sorry, no leading or trailing spaces.
      } @else if (control.hasError('profanity')) {
        Ummm.. Seriously?
      }
    </span>
  }
</div>
