<!-- Canvas -->
<canvas #canvas class="overflow-hidden transition-all duration-500 ease-in-out"></canvas>

<!-- Text -->
<app-game-text *ngIf="overlayService.gameText" [@opacityAnimation] class="pointer-events-none"></app-game-text>

<!-- Menu -->
<app-main-menu
  *ngIf="overlayService.mainMenu && svgLoader.corn$.value && svgLoader.title$.value"
  [@opacityAnimation]
  [corn]="svgLoader.corn$.value"
  [title]="svgLoader.title$.value"></app-main-menu>

<!-- Name Prompt -->
<app-player-name
  *ngIf="overlayService.playerName && svgLoader.pea$.value"
  [@opacityAnimation]
  [pea]="svgLoader.pea$.value"></app-player-name>

<!-- Mode Selector -->
<app-mode-selector *ngIf="overlayService.modeSelector" [@opacityAnimation]></app-mode-selector>

<!-- Leaderboard -->
<app-leaderboard *ngIf="overlayService.leaderboard" [@opacityAnimation]></app-leaderboard>

<!-- Settings -->
<app-game-settings *ngIf="overlayService.settings" [@opacityAnimation]></app-game-settings>

<!-- Audio -->
<app-icon-button
  *ngIf="gameStateService.paused"
  (click)="audioService.enabled.setValue(!audioService.enabled.value)"
  class="absolute right-0 top-0 m-8"
  [matIcon]="audioService.enabled.value ? 'volume_up' : 'volume_off'"
  [color]="'!text-mat-cream'"
  [tooltip]="audioService.enabled.value ? 'Mute' : 'Unmute'"
  [hover]="true"></app-icon-button>

<!-- Lives -->
<div
  *ngIf="gameStateService.lives > 0"
  [@opacityAnimation]
  class="pointer-events-none absolute bottom-0 left-0 mb-10 ml-10">
  <div class="flex items-center font-bold text-mat-cream">
    <mat-icon class="!size-auto text-5xl text-mat-red">favorite</mat-icon>
    <span class="ml-2 text-5xl">{{ gameStateService.lives }}</span>
  </div>
</div>

<!-- Timer -->
<span
  *ngIf="gameStateService.timer"
  class="pointer-events-none absolute flex size-40 items-center justify-center text-9xl font-bold text-mat-cream opacity-50">
  {{ gameStateService.timer }}
</span>

<!-- Cheats -->
<span
  *ngIf="cheatService.cheatsEnabled"
  class="pointer-events-none absolute bottom-0 right-0 m-4 text-xs text-mat-cream">
  Cheats on
</span>
