$pea-green: #54FF58;
$red-flash: #4b0200;

:host {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;

  .canvas-container {
    top: 0;
    position: absolute;

    canvas {
      transition: #00000085 0.75s ease;

      &.flash-red {
        transition: #00000085 0s ease;
        background: $red-flash;
      }

      &.hide-cursor {
        cursor: none;
      }
    }
  }

  // Message
  .message {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    color: whitesmoke;
    line-height: 7vw;
    font-size: 9vw;
    pointer-events: none;
    opacity: 1;
    transition: 1s ease;

    span {
      font-size: 3vw;
    }
  }

  // Icons
  .icons {
    position: absolute;
    display: flex;
    align-items: center;
    transform: scale(2);
    pointer-events: none;
    transition: 1s ease;
    opacity: 0.7;

    span {
      color: whitesmoke;
    }

    mat-icon {
      &.pea {
        color: $pea-green;
      }
    }
  }

  // Play Button
  .play-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 1s ease-in-out;
    overflow: hidden;

    &.shrink {
      button {
        transform: scale(0);
      }
    }

    button {
      width: 20vw;
      height: 20vw;
      transition: transform 0.1s linear;
      transform-origin: inherit;
      transform: scale(1);

      mat-icon {
        width: 60% !important;
        height: 60% !important;
        line-height: 60% !important;
      }
    }

    span {
      z-index: 2;
      color: whitesmoke;
      margin-top: 5 * 2;
      margin-bottom: 5 * 2;
      font-size: 3vh;
      cursor: pointer;
    }
  }

  // Hide
  .hide {
    pointer-events: none !important;
    cursor: none !important;
    opacity: 0 !important;
  }
}
