<div class="flex w-full flex-1 flex-col items-center justify-center">
  <!-- Pea SVG -->
  <img id="peaSvg" src="pea.svg" class="max-h-[35vh] animate-float" />

  <!-- Name -->
  <app-player-name-input
    class="w-4/5 sm:w-1/2 md:w-3/5 lg:w-1/2 xl:w-2/5 2xl:w-4/12"
    (keyPressed)="keyPressed($event)"
    [control]="playerNameService.name"
    [placeholder]="'New Player'"></app-player-name-input>
</div>

<div class="mb-10 flex w-full justify-evenly sm:justify-center sm:space-x-10">
  <!-- Back Button -->
  <app-game-button (click)="back()" [text]="'BACK'"></app-game-button>

  <!-- Play Button -->
  <app-game-button (click)="enterName()" [disabled]="playerNameService.name.invalid" [text]="'PLAY'"></app-game-button>
</div>
