<div class="mt-20 flex w-full flex-1 flex-col items-center justify-center">
  <!-- Pea SVG -->
  <img [src]="pea" class="max-h-[30vh] animate-float sm:max-h-[40vh]" id="peaSvg" />

  <!-- Name -->
  <div class="flex w-full flex-col items-center">
    <input
      contenteditable
      class="flex w-full rounded-xl bg-[rgba(255,255,255,0.05)] p-2 text-center font-ink text-2xl uppercase text-game-white outline-none md:text-3xl lg:text-4xl"
      [formControl]="playerNameService.name"
      (keypress)="keyPressed($event)" />

    <!-- Validation -->
    <div class="mt-4 text-center font-inter text-sm">
      @if (playerNameService.name.valid) {
        <span class="text-game-yellow">Press play when you're ready</span>
      } @else {
        <span class="text-game-white">
          @if (playerNameService.name.hasError('required')) {
            Provide a name to record your score
          } @else if (playerNameService.name.hasError('minlength')) {
            You need at least {{ 6 - playerNameService.name.value!.length }} more character{{
              playerNameService.name.value!.length < 5 ? 's' : ''
            }}
          } @else if (playerNameService.name.hasError('maxlength')) {
            Thats {{ playerNameService.name.value!.length - 20 }} character{{
              playerNameService.name.value!.length > 21 ? 's' : ''
            }}
            too many!
          } @else if (playerNameService.name.hasError('letters')) {
            Sorry, letters and hyphens only
          } @else if (playerNameService.name.hasError('consecutive')) {
            Sorry, no consecutive spaces or hyphens
          } @else if (playerNameService.name.hasError('edge')) {
            Sorry, no leading or trailing spaces
          } @else if (playerNameService.name.hasError('profanity')) {
            Ummm.. Seriously?
          }
        </span>
      }
    </div>
  </div>
</div>

<div class="flex w-full justify-evenly">
  <!-- Back Button -->
  <app-game-button class="flex flex-1 justify-center" (click)="back()" [text]="'BACK'"></app-game-button>

  <!-- Play Button -->
  @if (playerNameService.name.valid) {
    <app-game-button class="flex flex-1 justify-center" (click)="enterName()" [text]="'PLAY'"></app-game-button>
  }
</div>
