<!-- Toolbar -->
@if (!isGame) {
  <div
    class="fixed z-10 flex h-16 w-full select-none items-center justify-between border-mat-yellow px-4 sm:px-16"
    [ngClass]="{
      'border-b bg-mat-black/85 backdrop-blur-sm': hideToolbar,
    }">
    <!-- Menu Button -->
    <app-icon-button
      (click)="toggleMenu()"
      [ngClass]="{
        'absolute left-8 top-8 rounded-full bg-mat-black/85 backdrop-blur-sm sm:left-16': !hideToolbar,
      }"
      [icon]="{ matIcon: 'menu' }"></app-icon-button>

    <!-- Location Button -->
    @if (!isHome) {
      @if (hideToolbar) {
        <button
          mat-stroked-button
          onclick="blur()"
          (click)="toggleLocation()"
          class="!rounded-xl !border !border-mat-yellow !bg-mat-black/85"
          [ngClass]="[]">
          <mat-icon class="!mr-3 scale-125">place</mat-icon>
          <span class="text-base text-mat-yellow">
            {{ countryPickerService.country }}
          </span>
        </button>
      } @else {
        <app-icon-button
          (click)="toggleLocation()"
          class="absolute right-8 top-8 rounded-full bg-mat-black/85 backdrop-blur-sm sm:right-16"
          [icon]="{ matIcon: 'place' }"></app-icon-button>
      }
    }
  </div>
}
