@use '@angular/material' as mat;
@use '../m3-theme.scss' as m3-theme;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'InkFree';
  src: url('/ink-free.ttf') format('truetype');
}

$light-theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;

html,
body {
  height: 100%;
}

html {
  &.light-theme {
    @include mat.core-color($light-theme);
    @include mat.all-component-colors($light-theme);
    @include mat.icon-color($dark-theme, $color-variant: tertiary);
  }

  &.dark-theme {
    @include mat.core-color($dark-theme);
    @include mat.all-component-colors($dark-theme);
    @include mat.icon-color($dark-theme, $color-variant: tertiary);
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
