<div class="overflow-x-hidden overflow-y-auto py-8">
  @for (photoAlbum of albums(); track $index; let index = $index) {
    <button mat-button class="!h-36 !w-full !rounded-none" [routerLink]="index.toString()">
      <!-- Icon -->
      <div class="mb-6 flex scale-150 justify-center">
        <mat-icon [svgIcon]="photoAlbum.icons[0]"></mat-icon>
        @if (photoAlbum.icons[1]) {
          <mat-icon class="ml-4" [svgIcon]="photoAlbum.icons[1]"></mat-icon>
        }
      </div>
      <!-- Label -->
      <span [ngClass]="[galleryService.id$.value === index ? 'text-mat-yellow' : 'text-mat-cream', 'text-base']">
        {{ photoAlbum.label }}
      </span>
    </button>
  }
</div>
