<!-- Corn SVG -->
<div class="relative mb-20 flex-none overflow-hidden">
  <img [src]="title" class="absolute inset-0 m-auto max-h-[60dvh] lg:max-h-[80dvh]" />
  <img [src]="corn" class="animate-heartbeat relative m-auto max-h-[60dvh] lg:max-h-[80dvh]" id="cornSvg" />
</div>

<!-- Desktop Buttons -->
<div class="mr-20 hidden flex-col items-start justify-end space-y-2 lg:flex">
  <!-- Play -->
  <app-game-button (click)="avoidTheCob.play(false)" [text]="'Play'"></app-game-button>
  <!-- Options -->
  <app-game-button (click)="gameSettingsService.show()" [text]="'Options'"></app-game-button>
  <!-- Help -->
  <app-game-button (click)="gameHelpService.show()" [text]="'Help'"></app-game-button>
  <!-- Leaderboard -->
  <app-game-button (click)="leaderboardService.show()" [text]="'Leaderboard'"></app-game-button>
  <!-- Mob Mode -->
  <app-game-button (click)="avoidTheCob.play(true)" [text]="'Mob Mode'"></app-game-button>
</div>

<!-- Icon Buttons -->
<div class="absolute bottom-0 mb-20 flex w-full flex-row items-center justify-evenly">
  <!-- Leaderboard icon -->
  <button class="scale-175 hover:scale-200 lg:hidden" (click)="leaderboardService.show()">
    <span icon="leaderboard" class="text-mat-yellow"></span>
  </button>
  <!-- Mobile Play Button -->
  <app-game-button
    class="[&>button]:border-mat-yellow lg:hidden [&>button]:border-2"
    (click)="avoidTheCob.play(false)"
    [text]="'Play'"></app-game-button>
  <!-- Settings icon -->
  <button class="scale-175 hover:scale-200 lg:hidden" (click)="gameSettingsService.show()">
    <span icon="settings" class="text-mat-yellow"></span>
  </button>
</div>
