<!-- Corn SVG -->
<div class="relative flex flex-1 overflow-hidden lg:mt-0 lg:flex-none">
  <img [src]="title" class="absolute inset-0 m-auto max-h-[80dvh] py-4" />
  <img [src]="corn" class="relative m-auto max-h-[80dvh] animate-heartbeat py-4" id="cornSvg" />
</div>

<div class="md flex items-end justify-end lg:mr-20 lg:flex-col lg:items-center">
  <!-- Settings icon -->
  <app-icon-button
    class="my-14 mr-8 lg:hidden"
    (click)="gameSettingsService.show()"
    [matIcon]="'settings'"
    [color]="'text-mat-cream'"
    [tooltip]="'Options'"
    [scale]="'scale-175'"
    [hoverScale]="'hover:!scale-200'"></app-icon-button>

  <!-- Play -->
  <app-game-button class="my-12 lg:my-4" (click)="avoidTheCob.play()" [text]="'Play'"></app-game-button>
  <!-- Options -->
  <app-game-button class="m-4 hidden lg:flex" (click)="gameSettingsService.show()" [text]="'Options'"></app-game-button>
  <!-- Leaderboard -->
  <app-game-button
    class="m-4 hidden lg:flex"
    (click)="leaderboardService.show()"
    [text]="'Leaderboard'"></app-game-button>
  <!-- Exit -->
  <app-game-button class="m-4 hidden lg:flex" (click)="router.navigate(['/home'])" [text]="'Exit'"></app-game-button>

  <!-- Leaderboard icon -->
  <app-icon-button
    class="my-14 ml-8 lg:hidden"
    (click)="leaderboardService.show()"
    [matIcon]="'leaderboard'"
    [color]="'text-mat-cream'"
    [tooltip]="'Leaderboard'"
    [scale]="'scale-175'"
    [hoverScale]="'hover:!scale-200'"></app-icon-button>
</div>
