<!-- Links -->
<div
  class="ml-16 mt-8 flex size-full flex-1 flex-col items-start overflow-y-auto overflow-x-hidden p-4 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-mat-yellow">
  @for (item of links; track $index) {
    @if (item.link) {
      <!-- Link -->
      <app-navigation-button
        class=""
        (click)="navigate(item.link.url)"
        [active]="currentRoute === item.link.url"
        [icon]="item.icon"
        [link]="item.link"></app-navigation-button>
    } @else if (item.sublinks) {
      <!-- Link Group -->
      <app-navigation-button
        [icon]="item.icon"
        [group]="item"
        [active]="hasActiveSublink(item.sublinks)"></app-navigation-button>
      @if (item.expanded) {
        @for (subLink of item.sublinks; track $index) {
          <!-- SubLink -->
          <app-navigation-button
            class="ml-5 pl-[1px]"
            (click)="navigate(subLink.url)"
            [active]="currentRoute === subLink.url"
            [link]="subLink"></app-navigation-button>
        }
      }
    }
  }
</div>

<div class="flex h-16 w-full items-center justify-between border-t border-mat-cream px-4 py-2">
  <app-icon-button (click)="linkedIn()" [svgIcon]="'linkedin'" [tooltip]="'LinkedIn'"></app-icon-button>
  <app-icon-button (click)="github()" [svgIcon]="'github'" [tooltip]="'Github'"></app-icon-button>
  <app-icon-button (click)="youtube()" [svgIcon]="'youtube'" [tooltip]="'Youtube'"></app-icon-button>
  <app-icon-button (click)="instagram()" [svgIcon]="'instagram'" [tooltip]="'Instagram'"></app-icon-button>
</div>
