<!-- Links -->
<div class="flex flex-col items-start py-12">
  @for (item of links; track $index) {
    @if (item.link) {
      <!-- Link -->
      <app-navigation-button
        (click)="navigate(item.link.url, item.link.external)"
        [active]="currentRoute === item.link.url"
        [icon]="item.icon"
        [link]="item.link"></app-navigation-button>
    } @else if (item.sublinks) {
      <!-- Link Group -->
      <app-navigation-button
        [icon]="item.icon"
        [group]="item"
        [active]="hasActiveSublink(item.sublinks)"></app-navigation-button>
      @if (item.expanded) {
        @for (subLink of item.sublinks; track $index) {
          <!-- SubLink -->
          <app-navigation-button
            class="ml-9"
            (click)="navigate(subLink.url)"
            [active]="currentRoute.includes(subLink.url)"
            [link]="subLink"></app-navigation-button>
        }
      }
    }
  }
</div>
