@if (!!this.group) {
  <!-- Group -->
  <button #groupBtn mat-button class="mb-2 !rounded-lg" (click)="expandGroup(groupBtn)">
    <span class="text-primary text-nowrap text-xl">
      {{ group.label }}
    </span>
    <mat-icon
      class="!flex !items-center !justify-center !text-2xl"
      [ngClass]="{ 'text-primary': !active, 'text-secondary': active }"
      iconPositionEnd>
      {{ group.expanded ? 'keyboard_arrow_down' : 'chevron_right' }}
    </mat-icon>
  </button>
} @else if (active) {
  <!-- Active Link -->
  <button mat-button class="mb-2 !rounded-lg !p-3">
    <span class="text-secondary mx-1 text-nowrap text-xl">{{ label }}</span>
  </button>
} @else {
  <!-- Inactive Link -->
  <button mat-button class="mb-2 !rounded-lg" disabledInteractive>
    <span class="text-primary mx-1 text-nowrap text-xl">{{ label }}</span>
  </button>
}
